
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
font-family: 'Space Mono', monospace;
<style>
    body {
      height: 100vh;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      font-family: 'Space Mono', monospace;
    }

    .container {
      display: flex;
      flex-grow: 1;
      align-items: center;
      padding: 10px;
    }

    .div-2 {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    .image {
      width: 50%;
    }

    .info {
      flex-grow: 1;
      display: flex;
      flex-direction: